{% load static %}

<!DOCTYPE html>

<html>

                    <head>
                        <title>amir project-1</title>
                        <link rel="stylesheet" href="{% static 'mycss\cs.css' %}">
                    </head>

                    <body>


                    <h3>welcome to my first django project</h3>

                    <h1>here's a funny cat</h1>
                    <img src="{% static 'images\ds.png' %}" width="=100" height="300"/>

                    <h3>



                    </h3>

                    <h1>here's a table showing the people you added</h1>
                    <div>
                    {% if data %}
                        <table>
                        
                        <thead>
                            <th>Id</th>
                            <th>First_name</th>
                            <th>Last_name</th>
                        </thead>
                    {% for dt in data %}
                        <tr>

                            <td>{{dt.Id}}</td>
                            <td>{{dt.first_name}}</td>
                            <td>{{dt.last_name}}</td>
                            
                        </tr>
                    {% endfor %}    

                        </table>  
                    {% else %}
                        <h3>NO DATA FOUND</h3>
                    {% endif %}
                    </div>

                    <h3>





                    </h3>

<h2><a href="admin/">click here to enter Admin panel</a></h2>

<h1>created by Amir</h1>

                    </body>


<html>