{% extends 'webb/base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8">

<head>
    <meta charset="UTF-8">
    <title>PANAH studios | {{ data.title }}</title>
    <meta name="description" content="{{ data.body|truncatewords:20 }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" sizes='any'>
    <link rel="icon" href="{% static 'img/favicon/icon.svg' %}" type='image/svg+xml'>
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins-demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog-extra.css' %}">
    <meta name="theme-color" content="#4d26b3">
</head>

<body>
    <div class="loader">
        <div class="loader">
            <div class="loader__content">
                <div class="loader__logo"><img src="{% static 'img/loader.svg' %}" alt="PANAH studios"></div>
            </div>
        </div>
    </div>

    <div class="top-controls d-flex">
        <button id="color-switcher" class="btn btn-round btn-outline hover-anim hover-secondary color-switcher"
            type="button" role="switch" aria-label="light/dark mode" aria-checked="true"></button>
    </div>

    <header class="blog-nav">
        <div class="container-fluid px-0">
            <div class="row g-0 align-items-center">
                <div class="col-6 col-md-4">
                    <a class="blog-nav__logo" href="{% url 'webb:home' %}">PANAH <span>studios</span></a>
                </div>
                <div class="col-6 col-md-8">
                    <nav class="blog-nav__menu">
                        <a href="{% url 'webb:home' %}">Home</a>
                        <a href="{% url 'webb:front' %}">Front-end</a>
                        <a href="{% url 'webb:back' %}">Back-end</a>
                        <a href="{% url 'blog:blog' %}" class="is-active">Blog</a>
                        <a href="{% url 'webb:contact' %}">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="blog-hero blog-hero--single">
        <div class="container-fluid px-0">
            <div class="row g-0">
                <div class="col-12">
                    <p class="blog-hero__breadcrumb">
                        <a href="{% url 'webb:home' %}">Home</a>
                        <i class="ph ph-arrow-right"></i>
                        <a href="{% url 'blog:blog' %}">Blog</a>
                        <i class="ph ph-arrow-right"></i>
                        <span>{{ data.title }}</span>
                    </p>
                    <h1 class="blog-hero__title">{{ data.title }}</h1>
                    <p class="blog-hero__desc">by {{ data.author.get_full_name }} &middot; {{ data.date_created|date:"d M Y" }}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <section class="blog-body blog-body--single first-section">
            <div class="container-fluid px-0">
                <div class="row gx-4">
                    <div class="col-12 col-lg-8 blog-posts">

                        <article class="post-single">
                            <div class="post-single__image">
                                <img src="{{ data.image.url }}" alt="{{ data.title }}">
                            </div>

                            <div class="post-single__meta">
                                <ul class="post-card__tags">
                                    {% for cat in data.post_category.all %}
                                    <li><a href="{% url 'blog:blog_category' cat_name=cat %}">{{ cat }}</a></li>
                                    {% endfor %}
                                </ul>
                                <a class="post-card__author"
                                    href="{% url 'blog:author' author_name=data.author.username %}">
                                    <i class="ph ph-user-circle"></i> {{ data.author.get_full_name }}
                                </a>
                                <span class="post-card__date"><i class="ph ph-calendar-blank"></i> {{ data.date_created|date:"d M Y" }}</span>
                            </div>

                            <div class="post-single__body">
                                {{ data.body|linebreaks }}
                            </div>
                        </article>

                    </div>

                    <aside class="col-12 col-lg-4 blog-sidebar">
                        <div class="sidebar-widget">
                            {% include 'blog/search.html' %}
                        </div>

                        <div class="sidebar-widget">
                            {% latest_posts %}
                        </div>

                        <div class="sidebar-widget">
                            {% categories %}
                        </div>
                    </aside>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__content">
                <p class="footer__caption">این تازه اول راهه... با امیر و صبا در استودیو پناه همراه باشید</p>
            </div>
        </footer>
        <div class="bottom-bg"><img src="{% static 'img/demo/footer-bg.webp' %}" alt="PANAH studios"></div>
    </div>

    <a id="to-top" class="to-top btn btn-round btn-filled hover-anim hover-accent" href="#0"><em></em><i
            class="ph ph-arrow-up"></i></a>
    <script src="{% static 'js/demo/jquery.min.js' %}"></script>
    <script src="{% static 'js/demo/modernizr.js' %}"></script>
    <script src="{% static 'js/demo/demo.js' %}"></script>
</body>

</html>
{% endblock %}
